<h1>Listing order_types</h1>

<table id="table">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @order_types.each do |order_type| %>
      <tr>
        <td><%= order_type.name %></td>
        <% if can? :manage, OrderType %>
            <td><%= link_to 'Show', order_type %></td>
            <td><%= link_to 'Edit', edit_order_type_path(order_type) %></td>
            <td><%= link_to 'Destroy', order_type, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, OrderType %>
    <%= link_to 'New Order type', new_order_type_path %>
<% end %>
<script>
    $(document).ready(function(){

        $('#table').dataTable();
    });
</script>