<h1><%= @user.name %> 's info</h1>
<% if can? :manage, User %>
    <table>
      <thead>
      <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td>
          <% @roles.each do |role| %>
              <% if @user.has_role?(role.name) %>

                  <%= role.name %>

              <% end %>
          <% end %>
        </td>
        <% if can? :manage, User %>
            <td> <%= link_to "Edit", edit_user_path(@user) %>
              | <%= link_to "Delete", "#" %>  </td>
        <% end %>
      </tr>
      </tbody>
    </table>
<% end %>