<%= form_for(@order, :html => {:multipart => true}) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :customer_id %>
      <br>

      <input type="hidden" id="order_customer_id" name="order[customer_id]" value="blanke">
      <%=
          #collection_select(:order, :customer_id, Customer.all, :id, :name, :include_blank => "Choose a customer")
      %>
      <%= text_field :search_for_customer, :mobile, :placeholder => 'Enter Mobile No.' %> <%= link_to("Search", "#", :id => 'search_btn', :class => 'btn btn-success') %>

      <div id="customer_data">
        <strong>Name</strong>

        <p id="name"></p>
        <strong>Mobile</strong>

        <p id="mobile"></p>
      </div>

    </div>
    <div class="field">
      <%= f.label :address_id %>
      <br>
      <%=
          collection_select(:order, :address_id, Address.all, :id, :lat)
      %>
    </div>

    <div class="field">
      <%= f.label :bill_number %>
      <br>
      <%= f.text_field :bill_number %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <br>
      <%= f.text_area :note %>
    </div>
    <div class="field">
      <%= f.label :bill_image %>
      <br>
      <%= f.file_field :bill_image %>
    </div>


    <div class="field">

      <% @order_types.each do |ot| %>

          <%= f.radio_button :order_type, ot.id %>
          <%= f.label :order_type, ot.name %>

      <% end %>

    </div>
    <div class="field" id="datetime_selector">
       <p>Repeat Everyday until : </p>
      <%= datetime_select("article", "written_on")  %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script>

    function addresses_dropdown(customer_id) {

        $('#order_address_id').find('option').remove().end();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/ajax/get_addresses/" + customer_id,
            success: function (data) {

                console.log(data);
                $.each(data, function (index, element) {

                    $('#order_address_id').append($("<option></option>").attr("value", element.id).text(element.name));
                });
            },
            error: function (data) {
                alert("error");
            }
        });
        return false;
    }

    function search_for_user() {
        var customer_data = null;
        var num = $('#search_for_customer_mobile').val();
        console.log("Searching for " + num)
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/ajax/search_for_customer/" + num,
            success: function (data) {
                console.log(data);
                if (data != null) {
                    console.log(data.id);
                    // update view
                    $('#customer_data').attr('hidden', false);
                    $('#name').text(data.name);
                    $('#mobile').text(data.mobile);
                    $('#order_customer_id').val(data.id);
                    console.log("Current ID : " + $('#order_customer_id').val());
                    addresses_dropdown(data.id);
                    $('#order_address_id').attr('disabled', false);
                    customer_data = data;
                } else {
                    alert("There is no customer associated with this mobile number.")
                }
            },
            error: function (data) {
                alert("No Data");
            }
        });
        return customer_data;
    }

    $(document).ready(function () {


        $('#datetime_selector').attr('hidden', true);

        /*        function initialize() {
         var mapOptions = {
         zoom: 5,
         center: new google.maps.LatLng(22.755439, 46.209155)
         };
         map = new google.maps.Map(document.getElementById('map'),
         mapOptions);
         }

         google.maps.event.addDomListener(window, 'load', initialize);*/

        // user info stuff
        $('#customer_data').attr('hidden', true);
        $('#order_address_id').attr('disabled', true);
        // search for customer by mobile.
        $('#search_btn').click(function () {
            search_for_user();
        });


        // toggle date and time on and off based on Regular & Recurring


        $('#order_order_type_2').click(function () {

            // put your code here and your alert

            var isVisible = $('#datetime_selector').is(':visible');
            if (!isVisible) {
                $('#datetime_selector').attr('hidden', false);
            }

            console.log("Order_Type_2 is Checked");

        });

        $('#order_order_type_1').click(function () {

            // put your code here and your alert

            var isVisible = $('#datetime_selector').is(':visible');
            if (isVisible) {
                $('#datetime_selector').attr('hidden', true);
            }

            console.log("Order_Type_1 is Checked");

        });

    });
</script>
