<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= "#{@order.address.lat},#{@order.address.lon}" %>
</p>

<p>
  <strong>Bill number:</strong>
  <%= @order.bill_number %>
</p>

<p>
  <strong>Note:</strong>
  <%= @order.note %>
</p>

<p>
  <strong>Bill image:</strong>
  <%= link_to("Download ",raw(@order.bill_image)) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
