<%= form_for(@address) do |f| %>
    <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

          <ul>
            <% @address.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div style='width: 800px;'>
      <div id="map" style='width: 800px; height: 400px;'>


      </div>
    </div>

    <div class="field">
      <%= f.label :lat %>
      <br>
      <%= f.text_field :lat %>
    </div>
    <div class="field">
      <%= f.label :lon %>
      <br>
      <%= f.text_field :lon %>
    </div>

    <div class="field" id="city_select">
      <%= f.label :city_id %>
      <br>
      <%=
          # f.select :city_id,options_for_select(@cities.collect { |city| [city.name, city.id] }, 1), {}, {id: 'cities_select'}

          collection_select(:address, :city_id, @cities, :id, :name, {prompt: "Select a city", id: 'cities_select'})

      %>
    </div>
    <div class="field">
      <%= f.label :district_id %>
      <br>

      <%= #f.select :district_id, options_for_select(@districts.collect { |district| [district.name, district.id] }, 1), {}, {id: 'districts_select'}
          collection_select(:address, :district_id, @districts, :id, :name, {prompt: "Select a district", id: 'districts_select'})
      %>

    </div>

    <div class="field">
      <%= f.label :customer_id %>
      <br>

      <%= #f.select :district_id, options_for_select(@districts.collect { |district| [district.name, district.id] }, 1), {}, {id: 'districts_select'}
          collection_select(:customer, :customer_id, @customers, :id, :name, {prompt: "Select a Customer", id: 'customers_select'})
      %>

    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<script>
    $(document).ready(function () {
        // Dropdown Stuff.
        $('#address_district_id').attr('disabled', true);
        $('#address_city_id').change(function () {
            $('#address_district_id').find('option')
                    .remove()
                    .end();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/ajax/get_districts/" + $('#address_city_id').val(),
                success: function (data) {
                    $.each(data, function (index, element) {
                        $('#address_district_id')
                                .append($("<option></option>")
                                        .attr("value", element.id)
                                        .text(element.name));
                    });
                    $('#address_district_id').attr('disabled', false);
                },
                error: function (data) {

                }
            });
            return false;
        });


        /*
         *
         *       var marker = handler.addMarkers([
         {
         "lat": 24.699682984040187,
         "lng": 46.72966003417969,
         "picture": {
         "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
         "width": 36,
         "height": 36
         },
         "infowindow": "hello!"
         }
         ],
         {draggable: true},
         {clickable: true}
         );
         * */
        // Google Maps Stuff..


        handler = Gmaps.build('Google');
        handler.buildMap({

                    provider: {
                        zoom:6,
                        center: new google.maps.LatLng(24.699682984040187, 46.72966003417969)
                        // pass in other Google Maps API options here
                    },
                    internal: {
                        id: 'map'
                    }
                },
                function () {



                    markers = handler.addMarkers([
                        {
                            "lat": 24.699682984040187,
                            "lng": 46.72966003417969,
                            "picture": {
                                "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
                                "width": 36,
                                "height": 36
                            },
                            "infowindow": "hello!"
                        }
                    ], {draggable: true});

                    handler.bounds.extendWith(markers);




                }


        );


        // end document ready
    });


</script>